.secondary-header {
    .secondary-navbar {
        min-height: 40px;
        padding: 0;
        background: #0082e6;
        background-image: -webkit-linear-gradient(left, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
        background-image: linear-gradient(to right, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
        transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
        will-change: transform;
    }
    .container {
        max-width: 1220px;
        padding: 0;
    }
    .navbar-content {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        ul {
            display: inline-block;
            list-style: none;
            margin: 0;
        }
        .navbar-left {
            padding-inline-start: 5px;
            .navbar-item-active {
                margin-top: 7px;
                padding: 5px 10px 6px 25px;
                color: #222;
                background-color: #fff;
                line-height: 20px;
                cursor: pointer;
                border-radius: 5px 5px 0 0;
                font-weight: 600;
                font-size: 14px;
                position: relative;
            }
            .icon {
                height: 20px;
                width: 20px;
                position: absolute;
                left: 5px;
            }
        }
        .navbar-right {
            padding-inline-end: 15px;
            .icon {
                height: 20px;
                width: 20px;
                margin: 0 5px;
            }
        }
        .navbar-item {
            display: inline-flex;
            padding: 4px 10px;
            margin: 5px 0 0 4px;
            border-radius: 5px;
            color: #fff;
            border-radius: 16px;
            border: transparent 1px solid;
            font-size: 12px;
            font-weight: 500;
            &:hover {
                border: 1px solid #fff;
            }
        }
    }
}
