.header-item {
  $color_1: #222;

	align-items: center;
	font-size: 14px;
  text-align: right;
  padding: 0px;

	&:hover {
		>.media-body {
			.dropdown {
				display: block;
				position: absolute;
				top: 50px;
				min-width: 200px;
				max-width: 280px;
				text-align: left;
				padding: 5px 15px;
				color: $color_1;
				background: #fff;
				border: 1px solid rgba(0,0,0,0.05);
				border-radius: 3px;
				background-clip: padding-box;
				-webkit-box-shadow: 0 2px 20px 0px rgba(0,0,0,0.15);
        box-shadow: 0 2px 20px 0px rgba(0,0,0,0.15);
        z-index: 2;
			}
		}
  }
  .media-heading {
    margin: inherit;
    padding: 0 3px 0 10px;
  }
  .media-body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: 15px 0;
    white-space: nowrap;
  }
  .icon {
    height: 28px;
    width: 28px;
    color: #0082e6;
  }
  .arrow {
    height: 12px;
    width: 12px;
    margin-top: 3px;
  }
  .dropdown {
    display: none;
  }
  .dropdown-list {
    list-style: none;
    padding: 0;
  }
  .list-title {
    margin: 0;
    font-weight: 700;
  }
}