.header {
    $color_1: #d3d3d3;
    $color_2: #888;
    $color_3: #0082e6;
    $border_color_1: #0082e6;

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1220px;
    }
    .navbar {
        padding: 0;
        .navbar-inner {
            width: 100%;
            align-items: center;
            height: 84px;
            .navbar-searchbox {
                width: 100%;
            }
            .navbar-brand {
                display: block;
                float: none;
                font-size: 18px;
                line-height: 20px;
                max-width: 135px;
                width: 100%;
            }
        }
    }
    .searchbox-wrapper {
        width: 100%;
        position: relative;
    }
    .searchbox-input {
        z-index: 4;
        border-color: $border_color_1;
        .form-control {
            border-right-width: 0;
            border-color: $border_color_1;
            border-radius: 16px;
            outline: 0;
            box-shadow: none;
        }
        .searchbox-suggestion {
            color: $color_1;
            position: absolute;
            top: 0;
            left: 0;
            background: 0 0;
            border: 1px solid transparent;
            outline: 0;
            width: 100%;
            padding: 6px 12px;
            line-height: 20px;
        }
        .searchbox-main {
            position: absolute;
            top: 0;
            left: 0;
            background: 0 0;
            border: 1px solid transparent;
            outline: 0;
            width: 100%;
            padding: 6px 12px;
            line-height: 20px;
        }
        .input-group-btn {
            .btn.searchbox-close {
                padding-right: 13px;
            }
            .btn {
                height: 38px;
                padding: 6px 8px;
                color: $color_3;
                font-size: 18px;
                border-left-width: 0;
                border-color: $border_color_1;
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }
        .searchbox-close.btn {
            color: $color_2;
            font-size: 14px;
            border-left-width: 0;
            border-right-width: 0;
        }
    }
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        .form-control {
            &:first-child {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
            display: table-cell;
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
        }
    }
    .input-group-addon {
        &:first-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }
    .input-group-btn {
        &:first-child {
            > .btn {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
            > .btn-group {
                > .btn {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                }
            }
            > .dropdown-toggle {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
        &:last-child {
            > .btn-group {
                &:not(:last-child) {
                    > .btn {
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                z-index: 2;
                margin-left: -3px;
            }
            > .btn {
                &:not(:last-child) {
                    &:not(.dropdown-toggle) {
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                z-index: 2;
                margin-left: -3px;
            }
        }
        display: table-cell;
        position: relative;
        font-size: 0;
        white-space: nowrap;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
    }
}
